/*css sheet*/



.header{
    height: 200px;
    background-color: bisque;
    background-size: 20%;
    background-image: url("https://media.istockphoto.com/id/1063148786/photo/photo-of-newborn-baby-fingers.jpg?s=612x612&w=0&k=20&c=oS0DoPdkCZwrAUH7fUD4N0FkITHBSO8F3D8jiBesUhU=")
}



.blog{
    background-color: brown;
    width: 50%;
}
h1{
    text-decoration: underline;
}